.wrapper(v-if="app.currentLang === 'en'")
	.welcome Hi, {{user.displayName}}!

	.created Regirestered at {{user.regTS | toPrettyDate}}

	p.
		This is your account in AWAP Project. Then you can sign in your account with your code for authernticator app. No passwords, your account is heavy secure.

	p.
		If you are web developer, you can use AWAP (Authorization without a password) on all your sites. See our <a href="https://github.com/aleoheen/awap-client">source code</a>

	p.
		You also can explore our REST API. See <a href="https://api.awap.pw">api.awap.pw</a>

	hr

	div
		button.gray(style="width: auto", @click="logout") Log Out