.wrapper(v-if="app.currentLang === 'ru'")
	.welcome Привет, {{user.displayName}}!

	.created Зарегистрирован {{user.regTS | toPrettyDate}}

	p.
		Это ваш аккаунт в системе AWAP! Теперь, чтобы войти в свой аккаунт еще раз, вам достаточно ввести свои логин и код из приложения в соответствующей форме на сайте. Никаких паролей нет. Ваш аккаунт в полной безопасности!

	p.
		Если вы веб-разработчик, вы можете перевести все свои сайты на авторизацию без пароля. Для этого исследуйте <a href="https://github.com/aleoheen/awap-client">исходный код</a> нашего проекта.

	p.
		Вы так же можете ознакомиться с открытым REST API нашего проекта и поэксперентировать. Документация по API: <a href="https://api.awap.pw">api.awap.pw</a>

	hr

	div
		button.gray(style="width: auto", @click="logout") {{app.lang.buttons.signout}}