main(v-if="app.currentLang === 'ru'")
	h2 Что за AWAP Project?

	p.
		<b>AWAP Project</b> это маленький интернет-проект, который нацелен на то, чтобы призвать веб-разработчиков отказаться от использования паролей на своих сайтах. Аббревиатура <i>AWAP</i> раскладывается как <b></i>Authorization Without A Password</i></b>, что означает <i>Авторизация Без Пароля</i>.

	p.
		Некоторые популярные онлайн-сервисы и мессенджеры используют авторизацию без пароля (например Telegram). Чтобы войти под своим аккаунтом, пользователь указывает номер своего телефона и ему приходит SMS с одноразовым паролем. Пользователь вводит код из SMS и входит на сайт.

	.images
		figure
			img(src="@/assets/images/pages/home/entering-phone-number.png", alt="Entering phone number")
			figcaption Ввод номера телефона

		figure
			img(src="@/assets/images/pages/home/receive-one-time-code.png", alt="Recieving an SMS with one time code")
			figcaption Получение SMS с кодом

	p.
		Такой способ и вправду гораздо лучше использования паролей. Применить атаки по типу брутфорса (перебора паролей) или фишинга (кражи пароля через поддельный сайт) уже не получится. Войти под чужим аккаунтом можно будет только тогда, когда его владелец сам этого захочет.

	p.
		Однако рассылать SMS с одноразовыми кодами слишком затратно для бюджетного сайта. Каждая SMS стоит около 2.5 ₽ и на авторизацию 1000 пользователей придется потратить 2500 руб (представьте сколько тратят банки и сайты с миллионными аудиториями). К тому же в некоторых ситуациях есть риск перехвата SMS оператором и, как следствие, компрометация аккаунта.

	p.
		Чтобы не разоряться на SMS и при этом отказаться от использования паролей, можно использовать авторизацию по коду из приложения (такие приложения уже есть и их не нужно создавать с нуля). Приложение генерирует 6-значный код каждые 30 секунд и может работать даже оффлайн. Одним из самых популярных приложений для генерации 6-значных кодов является <b>Google Authenticator</b>

	.images
		figure
			img(src="@/assets/images/pages/home/google-authenticator.png", alt="Google Authenticator")
			figcaption Google Authenticator

	p.
		Чтобы пользователь входил по коду из приложения, нужно сгенерировать специальный QR-код и попросить пользователя его отсканировать. После этого приложение сразу же начнёт генерировать коды, по которым человек сможет входить на сайт вместо пароля.

	p.
		Попробуйте это прямо сейчас! Пройдите <router-link to="/register">тестовую регистрацию</router-link> на нашем сайте.